name: release

on:
  push:
    branches:
      - master

jobs:

  release:
    name: release
    runs-on: ubuntu-latest
    steps:

      - name: git checkout
        uses: actions/checkout@v2

      - name: set up node 12
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: install packages
        run: yarn install --pure-lockfile --no-progress    
        
      - name: install semantic-release
        run: npm install -g semantic-release @semantic-release/github @semantic-release/git

      - name: running semantic-release
        run: semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

